*, *::after, *::backdrop {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1, h2 {
  font-weight: 500;
  font-family: 'Poppins';
  letter-spacing: -2px;

}

h1 { font-size: 2rem; }

h2 { font-size: 1.5rem; }

p {
  font-size: 1rem;
  font-family: 'Roboto';
  font-weight: 400;
  letter-spacing: .5px;

  margin-bottom: 16px;
}

strong {
  font-size: 1rem;
  font-weight: 700;
  font-family: 'Roboto';
}

a, a:visited , a:target {
  text-decoration: none;
  color: #009dff;
}

ul {
  position: relative;
  left: 18px;
}

li {
  margin: 12px 0;
  width: auto;
  width: 85%;
}
